html{
  height: 100%;
  background-color: rgb(247, 243, 243)
}
body{
  margin: 0;
}
.myheader {
  top: 0;
  position: fixed;
  z-index: 20;
  height: 1.0rem;
  width: 100%;
  line-height: 1.0rem;
  color: #FFFFFF;
  background-color: #0A4EA1;
  font-size: 0.36rem;
  text-align: center;
}

.myheader a {
  color: #FFFFFF;
  padding: 0 0.2rem;
  font-size: 0.3rem;
  font-weight: 100;
}

.myheader a img {
  width: 0.4rem;
  margin-top: 0.3rem;
}

.myheader a.active {
  font-weight: 600;
}

.myheader .left {
  float: left;
}
  .headposition{
    width: 100%;
  }
  .firstSelect{
    background-color: white;
    margin-top: 1rem;
    height: 1rem;
    border-bottom:1px solid rgb(231, 231, 231)
  }
  .firstSelect p{
    margin: 15px;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
  }
  .firstSelect img{
    right: 0;
    margin: 15px 5px;
    position: absolute;

  }
  .sec-Div{
    margin-top: 10px;
  }
  .secSelect{
    background-color: white;
    height: 1rem;
    border-bottom:1px solid rgb(231, 231, 231)
  }
   .secSelect p{
    margin: 15px;
    position: absolute;
    font-size: 17px;
    font-weight: 600;
  }
   .secSelect img{
    right: 0;
    margin: 15px 5px;
    position: absolute;

   }
   .nofound{
    background-color: rgb(231, 231, 231);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 35%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .nofound img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }
  .nofound p{
    height: 100%;
  }
  .nofoundp{
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 17px;
  } 