body{
  background-color: #f4f4f4;
}

/*背景颜色*/

.blue {
  background-color: #0077EE;
}

.pink {
  background-color: #FF6A54;
}

.green {
  background-color: #2CD3A1;
}

.gray {
  background-color: #2CD3A1;
}

.white {
  background-color: #FFFFFF;
}

.font-blue {
  color: #4a93d7 ;
}
.font-size36 {
  font-size: 0.36rem;
}

.myheader {
  top: 0;
  position: fixed;
  z-index: 20;
  height: 0.9rem;
  width: 100%;
  line-height: 0.9rem;
  color: #FFFFFF;
  background-color: #4a93d7;
  font-size: 0.36rem;
  text-align: center;
}

.myheader a {
  color: #FFFFFF;
  padding: 0 0.2rem;
  font-size: 0.3rem;
  font-weight: 100;
}

.myheader a img {
  width: 0.4rem;
  margin-top: 0.25rem;
}

.myheader a.active {
  font-weight: 600;
}

.myheader .left {
  float: left;
}

.right {
  float: right;
}


/*个人中心信息修改*/
.gray {
  height: 0.2rem;
  background: #f4f4f4;
  padding-top: 0.89rem;
}


.content {
  padding-bottom: 1.4rem;
  width: 100%;
  background-color: #f4f4f4;
}




